.navbar {
    background-color: #06404b;
}

body {
    background-color: lightslategray;
}

.headImg {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.headerTop{
    background-image: url(images/banner.webp);
}

.nav-link {
    color: white;
}

.mainContent {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}

.bottomFil {
    background-color: #06404b;
    padding: 30px;
    position: relative;
    bottom: -75px;
}

.departmentList {
    text-align: center;
    padding-top: 15px;
}

#button:focus, #button:hover {
    background-color: #e59827;
    color: white;
}

.content {
    display: none;
}