.navbar {
    background-color: #06404b;
}

.headImg {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.headerTop{
    background-image: url(images/banner.webp);
}

.nav-link {
    color: white;
}

.mainContent {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}

.bottomFil {
    background-color: #06404b;
    padding: 30px;
}